
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

  hx {
    font-size:10px;
  }
  
  a {
  
  }
  *{
      margin: 0px;
      padding: 0px;
  }
  
  body{
      font-family: 'Exo', sans-serif;
  }
  
  a {
    color:white;
  }
  
  
  
  .context {
    z-index:1;
      width: 100%;
      position: absolute;
   
   top:10vh;
    
  }
  
  
  .context h1{
      text-align: center;
      color: #fff;
      font-size: 24px;
  }
  
  .context h2{
      text-align: center;
      color: #fff;
      font-size: 22px;
  }
  
  .context h3{
      text-align: center;
      color: #fff;
      font-size: 20px;
  }
  
  .context h4{
      text-align: center;
      color: #fff;
      font-size: 18px;
  }
  
  .context h5{
      text-align: center;
      color: #fff;
      font-size: 16px;
  }
  .context h6{
      text-align: center;
      color: #fff;
      font-size: 16px;
  }
  
  
  .area{
      background: #121212;  
      background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
      width: 100%;
      height:500vh;
    /*THE .AREA HEIGHT NEEDS TO BE THE SAME VALUE AS THE .CIRCLES HEIGHT*/
    z-index:-1;
    
    
  }
  s {
    text-decoration:line-through 2px;
  }
  .circles{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 500vh;
      /*THE .AREA HEIGHT NEEDS TO BE THE SAME VALUE AS THE .CIRCLES HEIGHT*/
      overflow: hidden;
   
  }
  
  .circles li{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
      
  }
  
  .circles li:nth-child(1){
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
  }
  
  
  
  @keyframes animate {
  
      0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
      }
  
      100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
      }
  
  }
  
  
  .main {
    background: #fcc;
    margin: 10px 0;
  }
  .side {
    background: #fea;
  }
  .list {
    background: #afd;
  }
  .main,
  .side,
  .list {
    padding: 2%;
    border-radius: 10px
  }
  
  @media ( min-width : 600px ){
      .flexbox {
      display: -webkit-flex;
      display: flex;
      }
    .main {
      margin: 0 10px;
      -webkit-flex: 2;
      flex: 2;
    }
    .side {
      -webkit-flex: 1;
      flex: 1;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
    
  }
  
  /* demo purposes only */
  
  * {
    font-family: "Poppins", sans-serif;
  }
  .card {
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index:1;
  }
  
  h3 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
  
  }
  
  p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
  }
  
  img {
    position: absolute;
    top: 0;
    height: 110%;
    width: 100%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    filter: brightness(0.6);
  }
  
  .card:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover img {
    transform: translateY(-10px);
  }
  
  
  
  
  
  
  
  
  
  button {
   display: inline-block;
   border-radius: 4px;
   background-color: #2d2d2d;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 17px;
   padding: 16px;
   width: 130px;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
  }
  
  button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   -webkit-transition: 0.5s;
   transition: 0.5s;
  }
  
  button span:after {
   content: '»';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -15px;
   -webkit-transition: 0.5s;
   transition: 0.5s;
  }
  
  button:hover span {
   padding-right: 15px;
  }
  
  button:hover span:after {
   opacity: 1;
   right: 0;
  }