@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.ann {
font-weight: 700;
  
}
a {
  color:#23a2dc;
 
}

.newsiframe {
  border-radius:20px;
}


html { height: 100%; display: flex; }
body { margin: auto; }
body {
  background:#101010;
  font-family:Arial;
background-image:url('https://i.ibb.co/qNhdbNG/chalkboard.jpg');

  background-size: cover, ;
  background-repeat-y: no-repeat;
  color: #FFF;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  body {
 background-image:url('https://i.ibb.co/qNhdbNG/chalkboard.jpg');
 background-size: cover;
  }
  
  .touch {
   background-size: cover, ;
  }
  
  .hover {
    background-size: cover;
  }
}
.rainbow-text .char {
   font:Arial;
}

.rainbow-text .char { 
  
  color: hsl(
    calc(360deg * var(--char-percent)
    ), 
    90%, 
    65%
  );
 
}

.rainbow-text.animated .char {
  animation: rainbow-colors 3s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}

@keyframes rainbow-colors {
  0% { color: hsl(0turn, 90%, 65%); }
  25% { color: hsl(.25turn, 90%, 65%); }
  50% { color: hsl(.5turn, 90%, 65%); }
  75% { color: hsl(.75turn, 90%, 65%); }
  100% { color: hsl(1turn, 90%, 65%); }
}

a {
text-decoration:none;

    display: inline;
    text-decoration: none;

   

}



h2.r2 {
    font   : bold 30px Century Gothic, Arial;
}
h5.r2 {
    font   : bold 15px Century Gothic, Arial;
}
.r2 {
  text-shadow: -1.5px -1.5px  white;
	font-weight:  100;
    line-height: 80%;
font   : bold 30px Century Gothic, Arial;

  
  
  
	text-align: center;

	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	color: transparent;
	-webkit-animation: hue 3s infinite linear;
}



.r3 {
   
	font-weight:  100;
    line-height: 80%;
font   : bold 20px Century Gothic, Arial;
  
  
  
  
	text-align: center;

	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 3s infinite linear;

}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}



.div1 { grid-area: 1 / 1 / 6 / 2; 


}
.div2{ grid-area: 1 / 1 / 6 / 2; 
background-image: linear-gradient(to right, #6f2f93, #3b2b73);
  border-radius:30px;
  
 font-family: 'Outfit', sans-serif;
}
.left {
  text-align:left;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


.div1 {
  background:#101010;
  border-radius:30px;
}







