@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.ann {
font-weight: 700;
  
}
a {
  color:#23a2dc;
 
}



html { height: 100%; display: flex; }
body { margin: auto; }
body {
  font-family:Arial;
background-image:url('https://i.ibb.co/qNhdbNG/chalkboard.jpg');

  background-size: cover, ;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
@media (hover: hover) and (pointer: fine) {
  body {
 background-image:url('https://i.ibb.co/qNhdbNG/chalkboard.jpg');
 background-size: cover;
  }
  
  .touch {
   background-size: cover, ;
  }
  
  .hover {
    background-size: cover;
  }
}
.rainbow-text .char {
   font:Arial;
}

.rainbow-text .char { 
  
  color: hsl(
    calc(360deg * var(--char-percent)
    ), 
    90%, 
    65%
  );
 
}

.rainbow-text.animated .char {
  animation: rainbow-colors 3s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}

@keyframes rainbow-colors {
  0% { color: hsl(0turn, 90%, 65%); }
  25% { color: hsl(.25turn, 90%, 65%); }
  50% { color: hsl(.5turn, 90%, 65%); }
  75% { color: hsl(.75turn, 90%, 65%); }
  100% { color: hsl(1turn, 90%, 65%); }
}

a {
text-decoration:none;

    display: inline;
    text-decoration: none;

   

}



h2.r2 {
    font   : bold 30px Century Gothic, Arial;
}
h5.r2 {
    font   : bold 15px Century Gothic, Arial;
}
.r2 {
  text-shadow: -1.5px -1.5px  white;
	font-weight:  100;
    line-height: 80%;
font   : bold 30px Century Gothic, Arial;

  
  
  
	text-align: center;

	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	background-clip: text;
	color: transparent;
	animation: hue 3s infinite linear;
}



.r3 {
   
	font-weight:  100;
    line-height: 80%;
font   : bold 20px Century Gothic, Arial;
  
  
  
  
	text-align: center;

	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	background-clip: text;
	color: transparent;
	animation: hue 3s infinite linear;

}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}



.div1 { grid-area: 1 / 1 / 6 / 2; 


}
.div2{ grid-area: 1 / 1 / 6 / 2; 
background-image: linear-gradient(to right, #6f2f93, #3b2b73);
  border-radius:30px;
  
 font-family: 'Outfit', sans-serif;
}
.left {
  text-align:left;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


.div1 {
  background:#101010;
  border-radius:30px;
}








/*
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

center {
    color:white;
    font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
}

body {
    background: #121212;
    

}

wgTitle {
    display: block;
    text-align:center;
    font-size:40px;
    font-family:Arial;
    color:white;
}

wgDev {
    display: block;
    text-align:center;
    font-size:20px;
    font-family:Arial;
    color:white;
}
wgEmbed {
    display: block;
    text-align:center;
}

a {
    color:green;
    background:#181818;
    border-radius:20%;

    text-decoration:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color:lightgreen;
    text-decoration:underline;
}
iframe {
  height: 720px;
  width: 100%;
  resize: both;
  overflow: auto;
  border-style: solid;
  border-color:black;
  border: 10px solid transparent
}

comments {
    display: block;
    text-align:center;
    background:#181818;
}

.wgHelp {
    background-image:url('wait.jpg');
    text-align: center;
    background-size:100% 110%;
    padding:5px;
    width:400px;
    height:10px;
    border:1px solid black;
    margin:auto;

}


* {
    box-sizing: border-box;
  }
  
  #container-parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  #container-parent>div {
    min-height: 100px;
    flex: 1 0 33%;
    text-align: center;
    border: 1px solid white;
    background-color:#181818;
    border-radius: 5%;

  }
 
   .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
  }
  



un {
    text-decoration:underline;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
 
  background-color: rgba(0, 0, 0, 0.2);
 
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
/*