@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
body {
 grid-area: 1 / 1 / 6 / 2; 
        background-image: linear-gradient(to right, #6f2f93, #3b2b73);
          border-radius:30px;
          color:white;
         font-family: 'Outfit', sans-serif;
        
}

re {
    color:red;
}

or {
    color:orange;
}

yl {
    color:yellow;
}

lg {
    color:lightgreen;
}

gr {
    color:green;
}

bl {
    color:blue;
}

tq {
    color:turquoise;
}

sky {
    color:lightskyblue;
}

pu {
    color:purple;
}

pi {
    color:pink;
}

h3 {
    display:inline;
}

gy {
    color:grey;
}

lr {
    color:lightsalmon;
}