*{
	padding: 0;
	margin: 0;
	border: none;
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}
body{
background-color:#000000;
}
canvas{
	margin: 0 auto;
}
#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Loading/orientation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
	 pointer-events:none;

}
#msg {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
	pointer-events:none;
    color:#fff;
    font-size: 1.25em;
    text-align: center;    
    padding: 15px;
}
#msg > p{
	padding-top:50px;
	font-family: verdana;
	width:300px;
	margin:auto;
}

#preload-font {
		 font-family: 'king_cool_kc', sans-serif;
		 text-indent: -9999px;
		 font-size: 0;
	 }
.ppat-text {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font: 16px/1 monospace;
}
