/*
html:after { content: 'DESKTOP'; background: rgba(0,0,0,0.3); color: #FFF;
    display: block; position: fixed; left: 0px; top: 0px; height: 2em; line-height: 2em; padding: 0em 1em; 
    z-index: 100500; text-align: center; font-size: 10px; border-radius: 1em;
    pointer-events: none;
}
*/
@media screen and (max-width: 959px) {
    
    .ad-container.after-header { display: none !important; }
    .ad-container.before-footer { display: none !important; }
    
    body { width: 640px; }
    
    Carousel { display: none; }

    TilesList { width: 620px; }
    
    TilesList > responsive-banner {
        width: 468px; height: 60px;
        margin: 5px auto;
    }
    TilesList > responsive-banner {
        width: 300px; height: 605px;
        float: right; margin-top: 10px; margin-right: 5px; margin-left: 5px;
        clear: left;
    }
}

@media screen and (min-width: 960px) {

    body { width: 960px; }
    
    Carousel { width: 930px; height: 380px; }
    Carousel CarouselItem { width: 930px; height: 380px; }
    Carousel CarouselItem > ImageLoader { width: 930px; height: 380px; }

    TilesList { width: 930px; }
    TilesList > responsive-banner {
        width: 300px; height: 605px;
        float: right; padding-top: 3px; margin-top: 10px; margin-right: 5px; margin-left: 5px;
    }
}
@media screen and (min-width: 1280px) {
    
    body { width: 1280px; }
    
    Carousel { 
        width: 920px; height: 400px;
        float: left; margin-left: 25px;
    }
    
    Carousel CarouselItem { width: 920px; height: 400px; }
    Carousel CarouselItem > ImageLoader { width: 920px; height: 400px; }

    TilesList { width: 1240px; }
    TilesList > responsive-banner {
        width: 300px; height: 600px;
        float: right; padding-top: 0px; margin-top: 15px; margin-right: 5px; margin-left: 5px;
    }
}
