html {
    position: fixed;
    background: white;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ppat-text {
    text-shadow: 1px 1px #000000;
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0;
    font: 16px/1 monospace;
}
