@font-face{
    font-family:'king_cool_kc';
    font-style:normal;
    font-weight:700;
    src:local('king_cool_kc'),local('king_cool_kc'),
    url(../fonts/king_cool_kc.woff) format('woff'),
    url(../fonts/king_cool_kc.ttf) format('truetype');
} 
