/*Stylesheet*/

* {
    -webkit-tap-highlight-color: transparent;
}
body {
	background-color: #000000;
	color:#cccccc;
	margin: 0px;
	padding: 0px;
	border: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	touch-action:none;
	-webkit-touch-callout: none;
	-ms-touch-action:none;
	-webkit-text-size-adjust: none;
}
button {
	outline: none;
}
canvas {
	-webkit-interpolation-mode: nearest-neighbor;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
:-webkit-full-screen #canvas {
	width: 100%;
	height: 100%;
}
div.gm4html5_div_class
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login
{
	padding: 20px;
	position: absolute;
	border: solid 2px #000000;
	background-color: #404040;
	color:#00ff00;
	border-radius: 15px;
	box-shadow: #101010 20px 20px 40px;
}
div.gm4html5_cancel_button
{
	float: right;
}
div.gm4html5_login_button
{
	float: left;
}
div.gm4html5_login_header
{
	text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
	width: 100%;
	height: 100%;
}
#sg-orient-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 15;
	background-size: 50%;
	background-color: #70FFFF;
	display: none;
}
#sg-loading-bar {
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	background-size: 0px;
	background: url('loadbar.png');
	z-index: 8;
	display: block;
}
#sg-loading-bar-back {
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	background-size: cover;
	background: url('loadbarback.png');
	z-index: 7;
	display: block;
}
#sg-loading-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('splash.jpg') center center no-repeat;
	z-index: 6;
	background-size: auto 100%;
	display: block;
}
#sg-ad-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 10;
	display: none;
}
#sg-ad-cont {
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 11;
	display: block;
}
#sg-banner-cont {
	position: absolute;
	left: 0px;
	bottom: -1px;
	border: 0;
	width: 100%;
	z-index: 9;
	display: block;
}
#sg-ad-text {
	position: absolute;
	width: 100%;
	height: 20px;
	background: #000;
	text-align: center;
	font-size: 16px;
	opacity: 0.5;
	z-index: 12;
	display: block;
}
#sg-ad-but {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 13;
	display: block;
}
#sg-cross-bar {
	position: absolute;
	width: 100%;
	height: 85px;
	left:0px;
	bottom: 0px;
	background: #444;
	border-top: 2px solid black;
	z-index: 9;
	display: none;
}