html {
  -ms-touch-action: none;
}

body, canvas, div {
  display: block;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;

  cursor: default;
  color: #888;
  background-color: #333;

  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  
  /* fix bug: https://github.com/cocos-creator/2d-tasks/issues/791 */
  /* overflow cannot be applied in Cocos2dGameContainer, 
  otherwise child elements will be hidden when Cocos2dGameContainer rotated 90 deg */
  overflow: hidden;
}

#Cocos2dGameContainer {
  position: absolute;
  margin: 0;
  left: 0px;
  top: 0px;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

a:link, a:visited {
  color: #666;
}

a:active, a:hover {
  color: #666;
}

p.header {
  font-size: small;
}

p.footer {
  font-size: x-small;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171717 url(./bg.8f881.png) repeat center;
}




@media all and (orientation: portrait) {

  #title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width:80%;
    height:auto;
    max-width:462px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #loadingBase {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 80%;
    height: auto;  
    max-height: 43px;
    max-width: 464;    
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);      
}
}


@media all and (orientation: landscape) {

  #title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width:auto;
    height:60%;
    max-height:348px;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }


  #loadingBase {
    position: absolute;
    left: 50%;
    top: 80%;
    width: auto;
    height: 8%;    
    max-height: 43px;
    max-width: 464;     
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);      
}


}

#loadingBar {
    position: absolute;
    display: block;
    width: 0%;
    background-image: url(./bar.7315b.png);   
}

