html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    -ms-touch-action: none;
}

body {
    overflow: hidden;
    outline: none;
}