/*Stylesheet*/
body, html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ccc;
    background: #ffffff;
    position: relative;
    overflow:hidden;
}

#content {
    height: 100%;
}